body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(254, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 0, 0);
}

.chamada {
    background: hsl(0, 0%, 0%);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px rgb(255, 0, 0);
}

.chamada-texto {
    padding-left: 20px;
    padding-right: 20px;
}


h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.3;
    height: 250px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: solid 1px rgb(255, 0, 0)
}

.categoria h2 {
    color: rgb(222, 0, 0);
}

.categoria2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    border-top: solid 2px rgb(15, 4, 4);
}

.categoria-videos2 {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria2 img {
    opacity: 0.3;
    height: 250px;
}

.categoria2 img:hover {
    opacity: 1.0;
    border: solid 1px rgb(255, 0, 0);
}

.categoria2 h2 {
    color: rgb(255, 0, 0);
    margin-top: 50px;
}

.categoria-final {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    border-top: solid 2px rgb(255, 0, 0)
}

.categoria-final h2 {
    color: rgb(255, 0, 0);
    margin-top: 50px;
}

.Contato {
    color: rgb(255, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    border-top: solid 2px rgb(255, 0, 0);
}

.img-ctt {
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    gap: 10px;
}

.img-ctt img {
    height: 100px;
}

.img-ctt2 img {
    height: 60px;
}